# Ignore all kind of files
*.*
# Except py files
!*.py

# Python cache
__pycache__/
*.pyc

# Simulation output directories
coalescence2D/
duarte/

# General temp/output folders
output/
_pyoomph/
*.vtu
*.pvd